/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", semibold-italic;    
}

body {
    background-color: black;
    color: white;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre os itens */
    
}

h2.titulo {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}

h2.titulo span {
    color: chartreuse;
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3); /* Sombreado verde */
}

section.portifolio {
    margin-top: 40px;
}

/* CABECALHO (QUEM SOU, FORMAÇÃO...) */
header a {
    color: rgb(228, 225, 225);
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
}

header a:hover {
    color: rgb(70, 233, 29);
    transform: scale(1.2);
}


header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 100px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
}

/* ESTILO TOPO DO SITE */
section.topo-portifolio {
    padding: 70px 4%;
}

section.topo-portifolio .flex {
    gap: 70px;
}

.topo-portifolio h1 {
    color: white;
    font-size: 60px;
    line-height: 50px;
    margin: 7px 0;
    margin-top: -120px;
}

.topo-portifolio h2 {
    color: white;
}

.topo-portifolio .txt-topo-esq p {
    color: white;
    font-size: 19px;
    margin: 50px 0;
    text-align: justify;
}

.topo-portifolio .txt-topo-esq p span {
    color: chartreuse;
}

.txt-topo-esq, .img-topo-dir {
    flex-basis: 50%;
}

.img-topo-dir img {
    max-width: 90%;
    height: 70%;
    margin-top: -170px;
}

/* ESTILO BOTAO DE CONTATO */
.btn-contato button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700; 
    background-color: chartreuse; 
    color: black;       
    border: none;       /* Remove a borda */
    border-radius: 20px; /* Adiciona borda arredondada */
    cursor: pointer;    /* Adiciona cursor de ponteiro */
    margin: 75px 0;
}

.btn-contato button:hover {
    background-color: rgb(14, 141, 14); /* Cor de fundo ao passar o mouse */
    color: white;       /* Cor do texto ao passar o mouse */
}

/* ESTILIZAÇAO FORMAÇÃO */
section.formação {
    padding: 40px 4%;
}

.formacao-box {
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    flex-basis: 30%;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3); /* Sombreado verde */
    flex-direction: column;
    flex-grow: 1; /* Permite que as caixas cresçam para preencher o espaço disponível */
}

.formacao-box i {
    font-size: 60px;
    margin-bottom: 10px;
    color: chartreuse;
}

.formacao-box h3 {
    font-size: 23px;
    margin-bottom: 10px;
    margin: 15px 0;
}

.formacao-box p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

section.formação .flex {
    align-items: stretch; /* Alinha no topo das caixas */
    gap: 20px; /* Espaçamento entre as caixas */
}


/* ESTILIZAÇAO PORTIFOLIO */

.portifolio-flex {
    justify-content: center; /* Centraliza o meu portifolio */
}

.portifolio h2.titulo {
    margin-bottom: 40px;
    margin-top: 80px;
}
    
.portifolio .formacao-box h3{
    text-align: center;
}

.portifolio .formacao-box p{
    text-align: center;
}

/* ESTILO FORMULARIO DE CONTATO */

section.contato{
    padding: 80px 4%;
}

.contato h2.titulo {
    font-size: 42px;
    margin-top: 100px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    background-color: rgba(0, 255, 13, 0.212);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}   

form textarea{
    resize: none;
}

/* ESTILO DO BOTAO DE ENVIAR */

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 110px;
    height: 50px;
    margin: 0 auto; 
    display: block; 
    background-color: rgb(14, 141, 14);
    color: black;
    font-weight: 700;
    cursor: pointer;
}   

form .btn-enviar input:hover {
    transform: scale(1.1); /* Aumenta o tamanho do botão quando eu passar o mouse*/
}



